nav {
    padding: 30px;
    text-decoration: none;
    border: 1px solid yellow;
    margin: 5px;
    border-radius: 15px;
    font-size: 26px;
}
nav a {
      background-color: darkslategray;
      color: slateblue;
}
h1 {background-color: coral;
text-transform: uppercase;          
}  
header {
    background-color: black;
    margin: 20px;
    color: coral;
}

header img {background-color: blueviolet;}

main p {background-color: midnightblue;
color: black}

main h2 {background-color: coral;}

img {background-color: midnightblue;}

body {
    background-color: black;
    text-align: center ;
}

footer {
    background-color: moccasin;
}

footer p {
    background-color: peru;
}
p {text-size: 30px;}
